.bundle/
log/*.log
pkg/
gemfiles/*.gemfile.lock
coverage/

spec/dummy/rails-3/db/*.sqlite3
spec/dummy/rails-3/log/*.log
spec/dummy/rails-3/tmp/
spec/dummy/rails-3/.sass-cache

spec/dummy/rails-4/db/*.sqlite3
spec/dummy/rails-4/db/*.sqlite3-journal
spec/dummy/rails-4/log/*.log
spec/dummy/rails-4/tmp/
spec/dummy/rails-4/.sass-cache

spec/dummy/rails-5/db/*.sqlite3
spec/dummy/rails-5/db/*.sqlite3-journal
spec/dummy/rails-5/log/*.log
spec/dummy/rails-5/node_modules/
spec/dummy/rails-5/yarn-error.log
spec/dummy/rails-5/storage/
spec/dummy/rails-5/tmp/

spec/dummy/rails-6/db/*.sqlite3
spec/dummy/rails-6/db/*.sqlite3-journal
spec/dummy/rails-6/db/*.sqlite3-*
spec/dummy/rails-6/log/*.log
spec/dummy/rails-6/storage/
spec/dummy/rails-6/tmp/
